@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  background-color: #f5a18c;
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
}
table {
  margin: 50px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px 15px;
  border-collapse: collapse;
}

.name {
  padding: 0px 70 px;
}
.date {
  padding: 0px 100px;
}
form {
  position: relative;
}
input,
select {
  position: absolute;
  left: 100px;
  padding: 10px;
}

.form-input {
  display: flex;
  align-items: center;
  margin: 30px 0px;
  font-weight: bold;
}

.delete-button {
  border: solid 2px #faf0c4;
  padding: 10px 20px;
  background-color: #e62f48;
  color: #faf0c4;
  border-radius: 5px;
}

.delete-button:hover {
  border: solid 2px #e62f48;
  padding: 10px 20px;
  background-color: #faf0c4;
  color: #e62f48;
}

.add-button,
.reset-button {
  border: solid 2px #faf0c4;
  padding: 10px 20px;
  background-color: #a69e03;
  color: #faf0c4;
  border-radius: 5px;
}

.reset-button:hover,
.add-button:hover {
  border: solid 2px #a69e03;
  padding: 10px 20px;
  background-color: #faf0c4;
  color: #a69e03;
}
