body{
    font-family: Arial, Helvetica, sans-serif;
}


.delete-button, .add-button{
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.add-button:hover{
    transition: ease 0.3s;
    color: green;
    background-color: aliceblue;
    border: solid 1px green;
}

.delete-button:hover{
    transition: ease 0.3s;
    color: red;
    background-color: aliceblue;
    border: solid 1px red;
}

.delete-button{
    background-color: red;
    color: white;
}

.add-button{
    background-color: green;
    color: aliceblue;
}

.js-name-input, .js-date{
    border-radius: 3px;
}

.todo-input-grid, .todo-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
}

.todo-input-grid{
    margin-bottom: 10px;
}